[submodule "Matching/Assets/Tools"]
	path = Matching/Assets/Tools
	url = https://github.com/tristanschmi/Tools.Submodule
[submodule "2D Platformer/Assets/Tools"]
	path = 2D Platformer/Assets/Tools
	url = https://github.com/tristanschmi/ArtisanDream.Tools
