[submodule "Matching/Assets/Tools"]
	path = Matching/Assets/Tools
	url = https://github.com/tristanschmi/Tools.Submodule
[submodule "Platformer/Assets/Tools"]
	path = Platformer/Assets/Tools
	url = https://github.com/tristanschmi/ArtisanDream.Tools
